# Mac
.DS_Store
 
# Maven
target/

# R
.Rhistory

# IDE
.idea/workspace.xml

##############################

temp/
mr_ut_local_jobs/
book/ch2_intro/data/
book/ch3_tunnel/input/*
book/ch3_tunnel/output/*
book/ch3_tunnel/log/*
!.gitkeep
